html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

#map {
    width: 100%;
    height: 90vh;  /* Paling aman untuk HP dan laptop */
    border: 1px solid #ccc;
}
