body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

h2 {
    text-align: center;
    margin: 10px 0;
    padding: 8px;
    background: #222;
    color: white;
    font-size: 20px;
}

#map {
    width: 100%;
    height: 88vh;
    border: 2px solid #ddd;
    z-index: 1;
}

/* Tombol Layer */
#layerButtons {
    position: absolute;
    top: 80px;
    right: 15px;
    z-index: 9999;
}

#layerButtons button {
    background: white;
    padding: 7px 15px;
    margin: 3px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#layerButtons button:hover {
    background: #eee;
    cursor: pointer;
}

/* Legend */
.legend {
    line-height: 16px;
    color: #333;
    background: white;
    padding: 8px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.legend i {
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 5px;
    opacity: 0.8;
}
