body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

#map {
    width: 100%;
    height: 90vh;   /* INI YANG PENTING */
    border: 1px solid #ccc;
}
