body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    width: 100%;
    height: 90vh;
}

h2 {
    background: #ffffff;
    margin: 0;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}